<div class="close-button">
    <button class="close" matTooltip="Close" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<!-- Card wrapper-->
<div class="wrapper">
    <div class="row-basic-info">
        <div class="column">
            <h1 class="title-name">{{this.data.name}}</h1>
            <div class="title-items">
                <p class="horizontal first">{{this.data.team}}</p>
                <p class="horizontal">{{this.data.position}}</p>
            </div>
        </div>
    </div>
    <!-- Card player grades-->
    <div>
        <mat-list class="mat-list-horizontal">
            <mat-list-item class="items" *ngFor="let elem of this.data.grades| keyvalue">
                <div class="wrap-items">
                    <div class="grade-header">{{toCapital(elem.key)}}</div>
                    <div>{{printGrades(elem)}}</div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="wrap-items">
                    <div class="grade-header">Overall</div>
                    <div><b>{{this.data.overall}}</b></div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <!-- Card player scouting report text-->
    <div>
        <mat-card-content>
            <p>{{this.data.description}} </p>
        </mat-card-content>
    </div>
    <div>
        <button *ngIf="this.data.review !==undefined" class="mat-button" (click)="save()">Save</button>
    </div>

</div>

