.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.horizontal { display: inline; border-left: 2px solid; padding-left: 5px; }
.first { border-left: none; padding-left: 0;     padding-right: 5px;}

.title-items{
    margin-bottom: 10px;
}

.mat-list-horizontal {
    display: inline-flex;
    text-align: center;
    font-size: 12px;
    overflow: scroll;
    height: 60px;
    margin-top: 8px;
    width: 100%;
}

.row-basic-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: steelblue;
    color:white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    line-height: 10px;
}

.title-name{
    padding-left: 10px;
}

.items{
    margin-right: 5px;
    border-right: 1px solid #ccc;
    color:darkgray;
}

.grade-header{
    font-weight: bold;
    text-decoration: underline;
    color: darkslategrey;
    margin-bottom: 3px;

}

.wrap-items{
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    display: flow-root !important;
}

.mat-mini-fab{
    width: 24px;
    height: 24px;
}


.wrapper{
    max-height: 100%;
    overflow: scroll;
    padding: 0px 24px 24px 24px;
}

.mat-button {
    margin: 5px 10px 10px 10px;
}

.close-button {
    text-align: right;
    padding: 0px;
    margin: 0px 0px 10px 10px;

}

.close{
    border: none;
    outline: none;
}

.close:hover {
    cursor: pointer;
}

.mat-button:hover {
    background-color: steelblue;
    opacity: 30%;
    color: white;

}



