/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-dialog-container .mat-dialog-container {
    padding: 0px !important;
}
.text-description p{
    color: #485F6E;
    margin: 0px;
    font-style: italic;
}


