<div class="text-description">
    <p>Fill hitter's tool grades</p>
</div>
<!-- Batter's form -->
<form [formGroup]="form">
    <mat-form-field class="input-short">
        <mat-label>Hitting</mat-label>
        <mat-select disableRipple formControlName="hitting" required>
            <mat-option *ngFor="let grade of scoutGrades" [value]="grade">{{grade}}</mat-option>
        </mat-select>
        <mat-error>Please fill this field. A -hitting- value is required</mat-error>
    </mat-form-field>

    <mat-form-field class="input-short">
        <mat-label>Power</mat-label>
        <mat-select disableRipple formControlName="power" required>
            <mat-option *ngFor="let grade of scoutGrades" [value]="grade">{{grade}}</mat-option>
        </mat-select>
        <mat-error>Please fill this field. A -power- value is required</mat-error>
    </mat-form-field>

    <mat-form-field class="input-short">
        <mat-label>Running</mat-label>
        <mat-select disableRipple formControlName="running" required>
            <mat-option *ngFor="let grade of scoutGrades" [value]="grade">{{grade}}</mat-option>
        </mat-select>
        <mat-error>Please fill this field. A -running- value is required</mat-error>
    </mat-form-field>

    <mat-form-field class="input-short">
        <mat-label>Fielding</mat-label>
        <mat-select disableRipple formControlName="fielding" required>
            <mat-option *ngFor="let grade of scoutGrades" [value]="grade">{{grade}}</mat-option>
        </mat-select>
        <mat-error>Please fill this field. A -fielding- value is required</mat-error>

    </mat-form-field>
    <mat-form-field class="input-short">
        <mat-label>Throwing</mat-label>
        <mat-select disableRipple formControlName="throwing" required>
            <mat-option *ngFor="let grade of scoutGrades" [value]="grade">{{grade}}</mat-option>
        </mat-select>
        <mat-error>Please fill this field. A -throwing- value is required</mat-error>
    </mat-form-field>

    <mat-form-field class="input-short">
        <mat-label>Overall</mat-label>
        <mat-select disableRipple formControlName="overall" required >
            <mat-option *ngFor="let grade of scoutGrades" [value]="grade">{{grade}}</mat-option>
        </mat-select>
        <mat-error>Please fill this field. Player overall value is required</mat-error>
    </mat-form-field>


</form>