<!DOCTYPE html>


<form [formGroup]="pitchesForm">

    <div class="text-description">
        <p>Fill pitch grades</p>
    </div>

    <!-- Pitch grades. Mat chip-->
    <div class="row">
        <div class="column">
            <mat-form-field class="input-short">
                <mat-label>Pitch Type</mat-label>
                <mat-select disableRipple formControlName="pitch">
                    <mat-option *ngFor="let pitch of pitches" value="{{pitch}}">{{pitch}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="column">
            <mat-form-field class="input-short">
                <mat-label>Grade</mat-label>
                <mat-select disableRipple formControlName="grade">
                    <mat-option *ngFor="let grade of scoutGrades"
                                value="{{grade}}">{{grade}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="column">
            <mat-form-field>
                <mat-label>Velocity</mat-label>
                <input matInput min="40" max="110" type="number" placeholder="Velocity (40-110)" autocomplete="off"
                       formControlName="velo">
            </mat-form-field>
        </div>

        <div class="column">
            <button class="mat-mini-fab" matTooltip="Add pitch" aria-label="Add pitch"
                    (click)="addGrade()" color="primary">+
            </button>
        </div>
    </div>

</form>

<form [formGroup]="form">

    <div>
        <!-- Mat chip list from other component-->
        <div class="row">
            <app-input-custom-chips formControlName="pitchesGrades" #chips></app-input-custom-chips>
        </div>

        <!-- Overall-->
        <mat-form-field class="long-row">
            <mat-label>Overall</mat-label>
            <mat-select disableRipple formControlName="overall" required>
                <mat-option *ngFor="let grade of scoutGrades" value="{{grade}}">{{grade}}</mat-option>
            </mat-select>
            <mat-error>Please fill this field. Player overall value is required</mat-error>
        </mat-form-field>
    </div>
</form>