.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 30px;
    margin-right: 10px;
}

.long-row{
    display: inline !important;
}

.mat-mini-fab{
    background-color: steelblue;
    color: white;
}