table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.wrapper {
    margin: 15px;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.column-add {
    margin-right: 10px;}

column-add:hover {
     opacity: 0.8;
 }

.table-header{
    background-color:#01549b;
}
.column-search {
    width: 90%;
}

.table-list {
    cursor: default;
    width: 100%;
}


.mat-row:hover{
    cursor: pointer;
    background-color: lightgray;
    color: white;

}
.mat-mini-fab{
    background-color: steelblue;
    color: white;
}


.banner {
    background-color: steelblue;
    color: white;
    width: 100%;
    height: 42px;
    margin-bottom: 30px;
    border-radius: 2px;
}

.banner h1{
    margin-left: 10px;
}

.mat-header-cell{
    background-color: steelblue;
    color: white;
    font-size: 16px;
}

