<!-- Dashboard wrapper-->
<div class="wrapper">
    <div class="banner">
        <h1>Scouting report</h1>
    </div>

    <!-- Add new player. Search-->

    <div class='row-table'>
        <div class='column-add'>
            <button class="mat-mini-fab" matTooltip="Add new player" aria-label="Add player" (click)="addPlayer()"
                    color="primary">+
            </button>
        </div>
        <div class='column-search'>
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="searchInTable($event)" placeholder="Ex. Cincinnati">
            </mat-form-field>
        </div>
    </div>

    <!-- Table-->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="players">

            <!-- ID Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="team">
                <th mat-header-cell *matHeaderCellDef> Team</th>
                <td mat-cell *matCellDef="let row"> {{row.team}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Position</th>
                <td mat-cell *matCellDef="let row"> {{row.position}} </td>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="overall">
                <th mat-header-cell *matHeaderCellDef> Overall</th>
                <td mat-cell *matCellDef="let row"> {{row.overall}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row" (click)="show(row)">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>