<mat-form-field class="long-row">
    <mat-chip-list #chipList [errorStateMatcher]="{true:true}">
        <mat-chip *ngFor="let pitch of chipsKeys" (removed)="removeGrade(pitch)" selected>
            {{pitch + '( Grade: ' + this.mapper[pitch].grade + ' / Velo: ' + this.mapper[pitch].velo + ')'}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Pitch Types and Grades"
               #chipsval
               [matChipInputFor]="chipList"
               disabled>
    </mat-chip-list>
    <mat-hint>Add a new grade (pitch type, grade and velocity) with the blue button.</mat-hint>
    <mat-error>Please fill this field. You need at least one Pitch</mat-error>
</mat-form-field>
