.mat-form-field {
    display: block;
}

.wrapper{
    overflow: scroll;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}


.input-short{
    width: 70%;
}

.wrapper{
    max-height: 100%;
    overflow: scroll;
    padding: 0px 24px 24px 24px;

}
.mat-button {
    margin: 5px 10px 10px 10px;
}

.close-button {
    text-align: right;
    padding: 0px;
    margin: 0px 0px 10px 10px;

}

.close{
    border: none;
    outline: none;
}

.close:hover {
    cursor: pointer;
}

.mat-button:hover {
    background-color: steelblue;
    opacity: 30%;
    color: white;

}
