<!-- Close button-->
<div class="close-button">
    <button class="close" matTooltip="Close" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<!-- Form wrapper-->
<div class="wrapper">
    <h2 mat-dialog-title>Create new scouting report</h2>
    <mat-dialog-content>
        <!-- First step Basic Information-->
        <mat-horizontal-stepper [linear]="true">
            <mat-step [stepControl]="basicFormGroup">
                <form [formGroup]="basicFormGroup">
                    <ng-template matStepLabel>Basic Information</ng-template>
                    <div class="text-description">
                        <p>Fill player's basic information</p>
                    </div>

                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Player name" formControlName="name" required>
                        <mat-error>Please fill this field. Name is required</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Position</mat-label>
                        <mat-select disableRipple formControlName="position" required>
                            <mat-option *ngFor="let position of playerPosition" value="{{position}}"
                                        (click)="setIsBatter(position)">{{position}}</mat-option>
                        </mat-select>
                        <mat-error>Please fill this field. Position is required</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Team</mat-label>
                        <mat-select formControlName="team" required>
                            <mat-option *ngFor="let team of teams" [value]="team">{{team}}</mat-option>
                        </mat-select>
                        <mat-error>Please fill this field. Team is required</mat-error>

                    </mat-form-field>
                    <div>
                        <button class="mat-button" matTooltip="Go to next form" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <!-- Second step. Grades-->

            <mat-step [stepControl]="gradesFormGroup">
                <ng-template matStepLabel>Grades</ng-template>
                <app-batter *ngIf="isBatter" (formGroupChange)="batterFormGroupChange($event)"></app-batter>
                <app-pitcher *ngIf="!isBatter" (formGroupChange)="pitcherFormGroupChange($event)"></app-pitcher>
                <div>
                    <button class="mat-button" matTooltip="Go to previous form" matStepperPrevious>Back</button>
                    <button class="mat-button" matTooltip="Go to next form" matStepperNext>Next</button>
                </div>
            </mat-step>
            <!-- Third step. Description-->

            <mat-step [stepControl]="descriptionFormGroup">
                <ng-template matStepLabel>Text Report</ng-template>
                <app-description (formGroupChange)="descriptionFormGroupChange($event)"></app-description>
                <div>
                    <button class="mat-button" matTooltip="Go to previous form" matStepperPrevious>Back</button>
                    <button class="mat-button" matTooltip="Review form" (click)="reviewForm()">Next</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-dialog-content>
</div>
