<div class="wrapper">
    <form [formGroup]="form">
        <div class="text-description">
            <p>Write a scouting report text</p>
        </div>
        <mat-form-field appearance="fill" class="text-area-report">
            <mat-label>Scouting report text</mat-label>
            <textarea matInput required formControlName="description"></textarea>
            <mat-error>Please fill this field. A scouting report text is required</mat-error>
        </mat-form-field>
    </form>
</div>
